{% extends 'base.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block body %}
    <h1>Clientes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.cpf }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.email }}</td>
                <td>
                    <a href="{{ path('cliente_show', {'id': cliente.id}) }}"class="btn btn-info btn-sm">Mostrar</a>
                    <a href="{{ path('cliente_edit', {'id': cliente.id}) }}"class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">sem registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cliente_new') }}"class="btn btn-primary btn-lg">Novo</a>
{% endblock %}
