{% extends 'base.html.twig' %}

{% block title %}Movimentação{% endblock %}

{% block body %}
    <h1>Movimentação</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Inicio</th>
                <th>Fim</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for movimentacao in movimentacaos %}
            <tr>
                <td>{{ movimentacao.id }}</td>
                <td>{{ movimentacao.tipo }}</td>
                <td>{{ movimentacao.inicio ? movimentacao.inicio|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ movimentacao.fim ? movimentacao.fim|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('movimentacao_show', {'id': movimentacao.id}) }}"class="btn btn-info btn-sm">Mostrar</a>
                    <a href="{{ path('movimentacao_edit', {'id': movimentacao.id}) }}"class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">sem registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('movimentacao_new') }}"class="btn btn-primary btn-lg">Novo</a>
{% endblock %}
