{% extends 'base.html.twig' %}

{% block title %}Movimentacao{% endblock %}

{% block body %}
    <h1>Movimentacao</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movimentacao.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ movimentacao.tipo }}</td>
            </tr>
            <tr>
                <th>Inicio</th>
                <td>{{ movimentacao.inicio ? movimentacao.inicio|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fim</th>
                <td>{{ movimentacao.fim ? movimentacao.fim|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('movimentacao_index') }}"class="btn btn-secondary btn-sm">Voltar</a>

    <a href="{{ path('movimentacao_edit', {'id': movimentacao.id}) }}"class="btn btn-warning btn-sm">Editar</a>

    {{ include('movimentacao/_delete_form.html.twig') }}
{% endblock %}
